html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  background-color: #e2e2e2;
}

header nav {

}

nav ul {

}

nav ul li {

}
nav a {

}

header h1 {

}

header image {

}

header p {

}
