html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #e2e2e2;
}

header nav {

}

nav ul {
list-style: none;
display: flex;
padding: .75em;
}

nav ul li {
padding: 1em;

}
nav a {
color: #0074d9;
text-decoration:
}

header h1 {

}

header img {

}

header p {

}
